.popup-rating__overlay {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.6);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.popup-refund__overlay {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.6);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.popup-refund__overlay.show {
    opacity: 1;
    visibility: visible;
}

.scrollbar-order {
    scrollbar-width: thin !important;
    scrollbar-color: #BC9A6C #f5f5f5 !important;
    padding-right: 10px;
}

.scrollbar-order::-webkit-scrollbar {
    width: 4px !important;
    height: 4px !important;
}

.scrollbar-order::-webkit-scrollbar-track {
    background: #f5f5f5 !important;
}

.scrollbar-order::-webkit-scrollbar-thumb {
    background-color: #BC9A6C !important;
    border-radius: 2px !important;
}