$theme-colors: (
    "main": #BC9A6C,
    "white": #fff,
    "black": #000,
    "description": #676767,
    "border": #cccccc,
);

$theme-transitions: (
    "main": 0.5s all ease-in-out,
    "other": 0.3s all ease-in-out,
);

$theme-webkits: (
    "title": (
        display: -webkit-box,
        -webkit-box-orient: vertical,
        -webkit-line-clamp: 2,
        overflow: hidden,
    ),
    "description": (
        display: -webkit-box,
        -webkit-box-orient: vertical,
        -webkit-line-clamp: 3,
        overflow: hidden,
    ),
);